@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Mulish:wght@400;900&family=Pixelify+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  /* --base--color: #010f40; */
  /* --side--color:#B92542; */
  /* --base--color:#39A2FE; */
  --base--color: #020015;
  --main--color: #8e1d42;
  --side--color: #fe2e52;
  --text--color: #fdeeeb;
}

body {
  z-index: 0;
  background: var(--base--color);
  /* background: url(./assests/starry-night-sky.jpg); */
}

.container {
  height: 100vh;
  width: 100vw;
  background: url(./assests/moon.jpeg) no-repeat;
  /* display: flex;
    justify-content: space-around;
    align-items: center; */
}

.nav {
  width: 100vw;
  height: 80px;
  /* border:1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  /* font-size: 2.5rem;
  margin-left: 50px;
  font-family: "Mulish", sans-serif;
  font-weight: bolder;
  color: var(--side--color);
  cursor: pointer;
  background: transparent;
  animation: 1s ease-out 0s 1 slideInLeft;
  z-index: 10; */
  background: url(./assests/logo.png) no-repeat;
  width: 70px;
  height: 70px;
  background-size: 70px;
  margin-top: 25px;
  margin-left: 25px;
  cursor: pointer;
  position: relative;
  transition: .5s ease-in-out;
  animation: 1s ease-out 0s 1 slideInLeft;
  z-index: 10;
}

.logo .tooltips{
  position: absolute;
  visibility: hidden;
  width: 120px;
  /* background-color: rgb(130, 129, 129); */
  background-color: var(--side--color);
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  top: 25px;
  left: 90%;
  border-radius: 6px;
  z-index: 1;
}

.logo:hover .tooltips{
  visibility: visible;
}

.links{
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: white; */
  z-index: 10;
}

/* .logo{
  border-bottom: 2px solid var(--side--color);
} */

.links a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--side--color);
  font-family: "Mulish", sans-serif;
  /* border: 2px solid var(--text--color); */
  padding: 6px;
  border-radius: 5px;
  background: transparent;
  font-weight: bolder;
  animation: 1s ease-out 0s 1 slideInTop;
  /* box-shadow: rgba(255, 123, 111, 0.2) 0px 7px 29px 0px; */
}

a {
  position: relative;
  color: var(--side--color);
  text-decoration: none;
}

a:hover {
  color: var(--side--color);
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--side--color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

.content {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
  width: auto;
}

.name{
  font-size: 4rem;
  color: var(--text--color);
  animation: 1s ease-out 0s 1 slideInRight;
  font-family: "Mulish", sans-serif;
  margin-left: 20px;
  font-weight: bolder;
  /* -webkit-text-stroke: 5px white;
  -webkit-text-fill-color: transparent;  */
}

.profession{
  font-size: 3rem;
  color: var(--side--color);
  animation: 1s ease-out 0s 1 slideInLeft;
  font-family: "Mulish", sans-serif;
  margin-left: 20px;
  font-weight: bolder;
}

/* .img {
  height: 690px;
  width: 500px;
  background: url(./assests/_081f0ced-1be4-41ba-864a-43e561a59a12.jpeg);
} */

.textContent {
  position: absolute;
  width: 220px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  left: 10%;
  top: 80%;
  gap: 10px;
}

.hire,
.explore {
  height: 50px;
  width: 100px;
  background: var(--side--color);
  border: 2px solid var(--side--color);
  outline: none;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bolder;
  color: var(--text--color);
  font-family: "Mulish", sans-serif;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.hire:hover,
.explore:hover {
  border: 2px solid var(--side--color);
  border-radius: 6px;
  background: transparent;
}

.btnBox{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}

.social{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70px;
  font-size: 1.6rem;
  cursor: pointer;
}

.social a{
  color: var(--side--color);
  transition: .3s ease-in-out;
}
i{
  color: var(--side--color);
  transition: .3s ease-in-out;
}

i:hover{
  color: var(--text--color);
}

/* .name {
  position: absolute;
  font-size: 3rem;
  color: var(--text--color);
  font-family: "Mulish", sans-serif;
  font-weight: bolder;
  top: 45%;
  left: 10%;
  animation: 1s ease-out 0s 1 slideInRight;
}

.profession {
  position: absolute;
  font-size: 2rem;
  color: var(--side--color);
  font-family: "Mulish", sans-serif;
  font-weight: bolder;
  top: 56%;
  left: 10%;
  animation: 1s ease-out 0s 1 slideInLeft;
} */

@keyframes slideInRight {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

/* @media screen and (min-width: 480px) {
  body{
    background: url(./assests/_081f0ced-1be4-41ba-864a-43e561a59a12.jpeg);
  }
} */

@media only screen and (min-width: 367px){
  .nav{
    font-size: 1rem;
  }
  .links{
    margin: 10px;
  }
  .text{
    font-size: 2rem;
  }
}