*{
    margin: 0;
    padding: 0;
    border-radius: 8px;
}

:root {
    /* --base--color: #010f40; */
    /* --side--color:#B92542; */
    /* --base--color:#39A2FE; */
    --base--color: #00001A;
    --main--color: #8e1d42;
    /* --side--color: #fe2e52; */
    /* --side--color: #FDFFAE; */
    --side--color: #ffccb0;
    /* --side--color: #e56a6b; */
    --text--color: #fdeeeb;
  }

body{
    background: var(--base--color);
    font-family: "Mulish", sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    /* background: url(../assests/_081f0ced-1be4-41ba-864a-43e561a59a12.jpeg) no-repeat; */
    background: url(../assests/alienMoon.jpeg) no-repeat;
    /* background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.heading{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.certifications{
    color: var(--text--color);
}

.content{
    height: 70%;
    width: 100%;
    /* background: rgba(255, 255, 255, 0.2); */
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box h2{
    color: var(--side--color);
    font-weight: bolder;
    border: 1.5px solid var(--side--color);
    padding: 10px;
}

.certi, .edu{
    height: 70%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.line{
    height: 100%;
    width: 2px;
    background: var(--side--color);
}

.certi-edu-box{
    height: 100px;
    width: 200px;
    background: rgba(255, 255, 255, 0.2);
    border: 1.5px solid rgba(255, 255, 255, .9);
    /* border: 1px solid var(--side--color); */
    /* border-radius: 8px; */
    cursor: pointer;
    transition: .5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.certi-edu-box:hover{
    background: rgba(255, 255, 255, 0.4);
}

/* .edu{
    align-items: start;
} */

.text{
    color: var(--side--color);
    font-size: 1rem;
}

.text1{
    color: var(--text--color);
    -webkit-text-stroke: .3px var(--main--color);
  -webkit-text-fill-color: var(--text--color); 
}

.modal{
    position: absolute;
    align-items: center;
    height: 90%;
    width: 90%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    z-index: 10;
}

.modal-certificate{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    width: 100%;
    position: relative;
}

.images{
    position: absolute;
    height: 100%;
    width: 80%;
}

.btn{
    display: flex;
    justify-content: end;
    align-items: end;
    height: 10px;
    width: 100%;
    font-size: 2rem;
    margin-top: 10px;
    margin-right: 10px;
    color: var(--main--color);
    cursor: pointer;
}

.overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    height: 100%;
    width: 100%;
    z-index: 5;
    cursor: pointer;
}

.hidden{    
    display: none;
}