*{
    margin: 0;
    padding: 0;
}

:root {
    /* --base--color: #010f40; */
    /* --side--color:#B92542; */
    /* --base--color:#39A2FE; */
    --base--color: #020015;
    --main--color: #8e1d42;
    --side--color: #fe2e52;
    --text--color: #fdeeeb;
  }
  

.container{
    height: 100vh;
    width: 100vw;
    background: pink;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav {
  width: 100vw;
  height: 80px;
  /* border:1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  /* font-size: 2.5rem;
  margin-left: 50px;
  font-family: "Mulish", sans-serif;
  font-weight: bolder;
  color: var(--side--color);
  cursor: pointer;
  background: transparent;
  animation: 1s ease-out 0s 1 slideInLeft;
  z-index: 10; */
  background: url(../assests/logo.png) no-repeat;
  width: 70px;
  height: 70px;
  background-size: 70px;
  margin-top: 25px;
  margin-left: 25px;
  cursor: pointer;
  position: relative;
  transition: .5s ease-in-out;
  animation: 1s ease-out 0s 1 slideInLeft;
  z-index: 10;
}

.logo .tooltips{
  position: absolute;
  visibility: hidden;
  width: 120px;
  /* background-color: rgb(130, 129, 129); */
  background-color: var(--side--color);
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  top: 25px;
  left: 90%;
  border-radius: 6px;
  z-index: 1;
}

.logo:hover .tooltips{
  visibility: visible;
}

.links{
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: white; */
  z-index: 10;
}

/* .logo{
  border-bottom: 2px solid var(--side--color);
} */

.links a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--side--color);
  font-family: "Mulish", sans-serif;
  /* border: 2px solid var(--text--color); */
  padding: 6px;
  border-radius: 5px;
  background: transparent;
  font-weight: bolder;
  animation: 1s ease-out 0s 1 slideInTop;
  /* box-shadow: rgba(255, 123, 111, 0.2) 0px 7px 29px 0px; */
}

a {
  position: relative;
  color: var(--side--color);
  text-decoration: none;
}

a:hover {
  color: var(--side--color);
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--side--color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

.skills--box{
    height: 60%;
    width: 80%;
    /* background: yellow; */
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
}

.box{
  background: white;
  width: 40%;
  height: 10%;
  font-size: small;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
}

.bar{
  width: 70%;
  border: 1px solid #e3e3e3;
  background: linear-gradient(to right, rgb(149, 231, 18) 50%, white);
  height: 5px;
}

.bar-c{
  background: linear-gradient(to right, rgb(231, 210, 18) 50%, white);
}