* {
  margin: 0;
  padding: 0;
}

:root {
  --base--color: #4a516e;
  --main--color: #020015;
  --side--color: #fe2e52;
  --text--color: #fdeeeb;
  --side1--color: #8e1d42;
}

.container {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

body {
  background: var(--main--color);
}

.navbar {
  height: 80px;
  width: 100%;
  /* background: var(--side--color); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text--color);
  border: 2px solid var(--text--color);
  padding: 10px;
  border-radius: 6px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: .5s ease-in-out;
}

.navbar a:hover{
  background: var(--side--color);
  border: 2px solid var(--side--color);
}

.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-box {
  width: 40%;
  height: 100%;
  border-radius: 12px;
  border: 1px solid var(--base--color);
  text-align: center;
  color: var(--text--color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Mulish", sans-serif;
}

.left-box h1 {
  margin-top: 10px;
  font-size: 1.8rem;
}

.btn a {
  text-decoration: none;
  color: var(--text--color);
  font-weight: bolder;
  font-size: 2rem;
  background: var(--side1--color);
  padding: 20px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  border: 2px solid var(--side1--color);
}

.btn a:hover {
  background: var(--main--color);
  border: 2px solid var(--side--color);
}

.line {
  height: 1px;
  background: var(--side--color);
  width: 80%;
}

.components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 300px;
  /* font-family: "Mulish", sans-serif; */
}

.compo-box {
  height: 100%;
  border-radius: 12px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}

.compo-box span {
  background: var(--side--color);
  padding: 10px;
  border-radius: 3px;
}

.right-box {
  width: 50%;
  height: 100%;
  border: 1px solid var(--base--color);
  border-radius: 12px;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.brief{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--text--color);
  width: 80%;
  text-align: start;
  gap: 20px;
}

.brief h2{
  font-family: "Mulish", sans-serif;
  font-size: large;
}

.bar{
  width: 100%;
  height: 80px;
  background: var(--base--color);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mulish", sans-serif;
  color: var(--text--color);
}

.home{
  font-family: "Mulish", sans-serif;
}